<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CloseBrace - JavaScript Tutorials and Resources</title>
    <meta name="description" content="CloseBrace - Tutorials and Recources By JavaScript Developers, For JavaScript Developers">
    <meta name="google-site-verification" content="ZlnNtuycQYx6jR8i4Eeqdu7lHbDvus2KWQv-5WyhdoM" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="/styles/site.css" rel="stylesheet">

    {{!-- This file provides the default styling for the KeystoneJS Content Editor
      - only renders when user is logged in and admin--}}
    {{{isAdminEditorCSS user}}}

  </head>
  <body>

    <!--[if lt IE 11]>
      <h3 class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h3>
    <![endif]-->

    {{> header}}

    {{> ad_horizontal }}

    {{#if messages}}
      <div id="flash-messages" class="container">
        {{#if messages.info}}
          <div class="alert alert-info">
              {{{flashMessages messages.info}}}
          </div>
        {{/if}}
        {{#if messages.success}}
          <div class="alert alert-success">
              {{{flashMessages messages.success}}}
          </div>
        {{/if}}
        {{#if messages.warning}}
          <div class="alert alert-warning">
              {{{flashMessages messages.warning}}}
          </div>
        {{/if}}
        {{#if messages.error}}
          <div class="alert alert-danger">
              {{{flashMessages messages.error}}}
          </div>
        {{/if}}
      </div>
    {{/if}}

    <!-- WRAPPER -->
    <div id="wrapper">

      {{{body}}}

    </div>
    <!-- /WRAPPER -->

    <!-- FOOTER -->
    <footer>
      &copy; <span class="copy-date">2017</span> CloseBrace, LLC.<br />
      {{> main_menu }}
      {{> footer_menu }}
      {{> footer_social }}
      {{> powered_by }}
    </footer>
    <!-- /FOOTER -->

  </body>
  <script src="/js/ads.js"></script>
  <script src="/js/build.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-97151687-1', 'auto');
    ga('send', 'pageview');
  </script>
  {{{isAdminEditorJS user}}}
</html>
