{{!< default}}

      <!-- CONTENT -->
      <article class="wide">

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Our Courses</h1>
        </section>
        <!-- /TITLE BOX -->

        {{#if categories}}
          <div class="category-list">
            {{#each categories}}
              <div class="category">
                <div class="img-wrap"><a href="/categories/{{this.key}}"><img src="https://res.cloudinary.com/closebrace/image/upload/w_553/v{{this.image.version}}/{{this.image.public_id}}.{{this.image.format}}" alt="{{this.name}} thumbnail" /></a></div>
                <div class="info">
                  <span class="videos">{{this.numVideos}} Tutorials</span>
                  {{#if this.totalHours}}
                    <span class="length">Video Length: {{this.totalHours}}</span>
                  {{/if}}
                </div>
                <div class="desc">
                  <h2><a href="/categories/{{this.key}}">{{this.name}}</a></h2>
                  <p>{{this.description}}</p>
                </div>
              </div>
            {{/each}}
          </div>
        {{else}}
          <p>
            Well, this is a tragedy &hellip; no tutorials were found!
          </p>
        {{/if}}

      </article>
      <!-- /CONTENT -->
