{{!< default}}

      <!-- CONTENT -->
      <article class="single-column">

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Contact Us</h1>
        </section>
        <!-- /TITLE BOX -->

        <div class="form form-contact">
          <div id="errorBox" class="error-box"></div>
					{{#if enquirySubmitted}}
						<h3>Thanks for getting in touch.</h3>
						<p>
							We've received your message. We read every piece of feedback we receive, and we try to respond to those that require response as quickly as possible. However, since "we" are only one person, please bear with us if it takes some time! <a href="/go-pro">CloseBrace Pro</a> members receive priority support responses, among other benefits.
						</p>
					{{else}}
						<form method="post" id="formContact">
						  <fieldset>
								<input type="hidden" name="action" value="contact">
								<label>
									Name
									<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
								</label>
								<label>
									Email
									<input type="email" name="email" class="form-control" value="{{formData.email}}">
								</label>
								<label>
									Feedback Type
									<select name="enquiryType" class="form-control">
										<option value="">(select one)</option>
										{{#each enquiryTypes}}
										<option value="{{value}}">{{label}}</option>
										{{/each}}
									</select>
								</label>
								<label>
									Message
									<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control" style="height: 300px;">{{formData.message}}</textarea>
								</label>
							</fieldset>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Send</button>
							</div>
						</form>
					{{/if}}
        </div>

      </article>
      <!-- /CONTENT -->

<script>
document.addEventListener("DOMContentLoaded", function() {
  var validator = new FormValidator('formContact', [
    {
        name: 'name.full',
        display: 'Name',
        rules: 'required|min_length[4]',
    },
    {
        name: 'email',
        display: 'Email',
        rules: 'required|valid_email|min_length[6]',
    },
    {
        name: 'message',
        display: 'Message',
        rules: 'required|min_length[10]'
    },
  ],
  function(errors) {
    if (errors.length > 0) {
      document.getElementById('errorBox').style.display = 'block';
      var errorString = '';
      for (var i = 0; i < errors.length; i++) {
        var messages = errors[i].messages;
        for (var t = 0; t < messages.length; t++) {
          errorString += messages[t] + '<br />';
        }
      }
      document.getElementById('errorBox').innerHTML = errorString;
    }
  });
});
</script>