{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>Search Results</h1>
        </section>
        <!-- /TITLE BOX -->

        {{#if categories}}
          <h2>Categories Matching "{{searchTerms}}"</h2>
          <ul>
          {{#each categories}}
            <li><a href="/categories/{{this.slug}}">{{this.name}}</a>
          {{/each}}
          </ul>
        {{/if}}

        {{#if posts}}
          <h2>Free Posts Matching "{{searchTerms}}"</h2>
          <ul>
          {{#each posts}}
            <li><a href="/{{toLowerCase this.postType}}s/{{this.publishedAtFormatted}}/{{this.slug}}">{{this.title}}</a></li>
          {{/each}}
          </ul>
        {{/if}}

  	    {{#unless categories}}
          {{#unless posts}}
            <h2>No results found</h2>
          {{/unless}}
        {{/unless}}

      </article>
      <!-- /CONTENT -->

