{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>{{user.name.first}}'s Account</h1>
        </section>
        <!-- /TITLE BOX -->
        {{#unless user.isVerified}}
          <div class="confirm-account">
            This account has not been confirmed. Didn't get the email? <a href="/account/sendconfirm">Click here to resend it</a>.
          </div>
        {{/unless}}

        <div id="errorBox" class="error-box"></div>
        <div class="profile-box">
          <div class="image">
            {{#if user.userImage.version}}
              <img src="https://res.cloudinary.com/closebrace/image/upload/w_400/v{{user.userImage.version}}/{{user.userImage.public_id}}.jpg" alt="User Icon" class="user-icon" />
            {{else}}
              <img src="https://res.cloudinary.com/closebrace/image/upload/v1483643228/default_user_rdehx2.png" alt="Default User Icon" class="user-icon" />
            {{/if}}
            <a href="#" class="image-upload" id="linkChangeImage">change</a>
            <!-- DROPZONE MODAL -->
            <div class="dropzone-wrapper" id="avatarUpload">
              <form method="post" action="/account/avatar-upload" class="dropzone" id="avatar-upload" enctype="multipart/form-data">
                <a href="#" class="close-link" id="linkCloseImageUpload"><span class="sr-only">close modal</span>X</a>
                <input type="hidden" name="action" value="avatar-upload" />
                <div class="fallback">
                  <label>Image File:<br/ ><input name="file" type="file" /></label>
                </div>
              </form>
            </div>
            <!-- DROPZONE MODAL -->
          </div>
          <div class="info">
            <form method="post" action="/account/edit-profile" id="formEditProfile">
              <input type="hidden" name="action" value="edit-profile" />
              <fieldset class="no-center">

                <h4>Name</h4>
                <p>
                  <span class="display">{{user.name.first}} {{user.name.last}}</a></span>
                  <span class="edit">
                    <input type="text" name="userFirstName" placeholder="First Name" value="{{user.name.first}}" /><br />
                    <input type="text" name="userLastName" placeholder="Last Name" value="{{user.name.last}}" />
                  </span>
                </p>

                <h4>Email</h4>
                <p>
                  <span class="display">{{user.email}} {{#if user.isVerified}}(confirmed){{/if}}</span>
                  <span class="edit">{{user.email}}</span>
                </p>

                <h4>Username</h4>
                <p>
                  <span class="display">{{user.userName}}</a></span>
                  <span class="edit">
                    <input type="text" name="userUsername" placeholder="CaptainCode" value="{{user.userName}}" />
                  </span>
                </p>

                <h4>Account Type</h4>
                <p>
                  {{#unless user.isPro}}
                    Basic User (<a href="/go-pro">Go Pro</a>)
                  {{else}}
                    <strong>CloseBrace Pro</strong> (thanks!)<br />
                    <span class="modify"><button type="button" class="btn btn-primary btn-small modal-open" data-modaltext="modify">Modify Subscription</button></span>
                    <span class="cancel"><button type="button" class="btn btn-primary btn-outline btn-small modal-open" data-modaltext="cancel">Cancel Subscription</button></span>
                  {{/unless}}
                </p>

                <h4>Password</h4>
                <p>
                  <a href="/account/forgot-password" class="change-password">change</a>
                </p>

                <h4>Location</h4>
                <p>
                  <span class="display">{{user.location}}</span>
                  <span class="edit">
                    <input type="text" name="userLocation" placeholder="Providence, RI, USA"
                    {{#if user.location}}
                      value="{{user.location}}" />
                    {{else}}
                      />
                    {{/if}}
                  </span>
                </p>

                <h4>Website</h4>
                <p>
                  <span class="display">
                    {{#if user.website}}
                      <a href="{{user.website}}" target="_blank">{{user.website}}</a>
                    {{/if}}
                  </span>
                  <span class="edit">
                    <input type="text" name="userWebsite" placeholder="http://closebrace.com"
                    {{#if user.website}}
                      value="{{user.website}}" />
                    {{else}}
                      />
                    {{/if}}
                  </span>
                </p>

                <h4>Twitter</h4>
                <p>
                  <span class="display">
                  {{#if user.twitterUsername}}
                    <a href="https://twitter.com/{{user.twitterUsername}}" target="_blank">@{{user.twitterUsername}}</a>
                  {{/if}}
                  </span>
                  <span class="edit">
                    <input type="text" name="userTwitter" placeholder="closebracejs"
                    {{#if user.twitterUsername}}
                      value="{{user.twitterUsername}}" />
                    {{else}}
                      />
                    {{/if}}
                  </span>
                </p>
              </fieldset>

              <div class="profile-buttons">
                <button type="button" id="btnEditProfile" class="btn btn-primary btn-edit-profile">Edit Profile</button>
                <button type="submit" id="btnSubmitProfileEdits" class="btn btn-primary btn-save-profile">Save Changes</button>
                <button type="button" id="btnCancelProfileEdits" class="btn btn-grey btn-outline btn-cancel-profile-edit">Cancel Changes</button>
              </div>
            </form>
          </div>
        </div>

        <p>
          <button type="button" id="testBtn" class="btn btn-secondary">TEST STRIPE CANCELLATION</button>
        </p>

        <div id="deleteAccountText">
          <p>
            Need to delete your account? We're not one of those annoying sites that doesn't give you that ability, but we want to be very, very sure it doesn't happen by accident, so please click the button below and follow the instructions.
          </p>

          <button type="button" id="btnDeleteAccountStep1" class="btn btn-primary btn-delete-account-step-1">Yes, I Want to Delete My Account</button>
        </div>

        <div id="deleteAccountBox" class="delete-account-box">
          <p>
            OK, we're sorry to see you go, but we respect your decision. Please note that <strong>this action cannot be reversed</strong>. All of your data will be deleted from our servers, along with all of your comments, and anything else you've contributed. This is not a joke. We're not doing that thing where we say "deleted" but really mean "made the account inactive". Following the instructions below will <strong>permanantly delete your account from this site with no hope of recovery</strong>. You can always create a new account, if you'd like.
          </p>
          <p>
            Still in? Just type "DELETE MY ACCOUNT" (in all caps, but without the quotes) into the box below, and click the Delete Account button.
          </p>
          <form id="formDeleteAccount" method="post" action="/account/delete-account">
            <fieldset>
              <input type="hidden" name="action" value="delete-account" />
              <input type="text" name="accountDeleteConfirmText" />
            </fieldset>
            <div class="buttons">
              <button type="submit" class="btn btn-primary">Delete Account</button>
              <button type="button" class="btn btn-grey btn-outline" id="btnCancelDeleteAccount">Cancel</button>
            </div>
          </form>
        </div>

      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
        {{> sidebar_newsletter }}
        {{> sidebar_twitter }}
      </aside>
      <!-- /SIDEBAR -->

      <!-- MODAL -->
      <div id="modal" class="modal-wrap modal-gopro">
        <div class="modal-outer">
          <div class="modal-inner">
            <a href="#" class="modal-close modal-close-link"><span class="sr-only">close modal</span>X</a>

            <!-- MODIFY SUBSCRIPTION -->
            <div class="modal-text modal-text-modify">
              <h3>Update Your Subscription</h3>
              <p>
                Need to update your credit card info or switch your subscription to a new card? You can do that here. Note: your card information is not stored on CloseBrace servers at any time (<a href="/privacy-policy#creditcards">learn more</a>).
              </p>

              <form action="/account/update-pro-subscription" method="post" id="cardUpdateForm">
                <div class="form-row">
                  <fieldset>
                    <label for="card-element">
                      Credit or debit card
                    </label>
                    <div id="card-element" class="field">
                    </div>
                  </fieldset>
                  <div id="card-errors" class="card-errors"></div>
                </div>
                <button class="btn btn-primary">Update Credit Card</button>
              </form>

{{!--

              <h4>Subscription Options</h4>
              <p>
                Want to change your subscription entirely? You can choose a new one here. Upgrades and downgrades will be prorated with anything you've already paid.
              </p>

              <!-- SELECT BOXES -->
              <div class="selects">
                <div class="sub-select{{#ifeq user.stripeSubscriptionType 'closebrace-pro-platinum-yearly' }} on{{/ifeq}}" id="subSelectPlatYearly" data-check="0">
                  <div class="text">
                    <h4>CloseBrace Pro Platinum (yearly)</h4>
                    <p>$149.99 - will bill immediately, and rebill annually on today's date.</p>
                  </div>
                  <div class="check">
                    <input type="radio" name="proselect" value="py" checked />
                  </div>
                </div>

                <div class="sub-select" id="subSelectPlatMonthly" data-check="1">
                  <div class="text">
                    <h4>CloseBrace Pro Platinum (monthly)</h4>
                    <p>$14.99 - will bill immediately, and rebill monthly on this day.</p>
                  </div>
                  <div class="check">
                    <input type="radio" name="proselect" value="pm" />
                  </div>
                </div>

                <div class="sub-select" id="subSelectGoldYearly" data-check="2">
                  <div class="text">
                    <h4>CloseBrace Pro Platinum (monthly)</h4>
                    <p>$59.99 - will bill immediately, and rebill yearly on today's date.</p>
                  </div>
                  <div class="check">
                    <input type="radio" name="proselect" value="gy" />
                  </div>
                </div>

                <div class="sub-select" id="subSelectGoldMonthly" data-check="3">
                  <div class="text">
                    <h4>CloseBrace Pro Platinum (monthly)</h4>
                    <p>$5.99 - will bill immediately, and rebill monthly on this day.</p>
                  </div>
                  <div class="check">
                    <input type="radio" name="proselect" value="gm" />
                  </div>
                </div>
              </div>
              <!-- /SELECT BOXES -->
--}}

            </div>
            <!-- /MODIFY SUBSCRIPTION -->

            <!-- CANCEL SUBSCRIPTION -->
            <div class="modal-text modal-text-cancel">
              <h3>Are You Sure?</h3>
              <p>
                You can cancel your CloseBrace Pro subscription at any time, but we want to make absolutely sure this is what you intend to do. Please also make sure you understand our <a href="/terms-of-service#billing">billing policy</a> before proceeding.
              </p>
              <p>
                If you want to go through with it, type "CANCEL SUBSCRIPTION" in the box below (without the quotes, in all caps) and click the button to proceed.
              </p>
              <form id="formCancelSubscription" method="post" action="/account/cancel-pro-subscription">
                <fieldset>
                  <input type="hidden" name="action" value="cancel-subscription" />
                  <input type="text" name="accountCancelSubscriptionConfirmText" />
                </fieldset>
                <div class="buttons">
                  <button type="submit" class="btn btn-primary">Cancel Subscription</button>
                  <button type="button" class="btn btn-grey btn-outline" id="btnCancelSubscriptionNeverMind">Never Mind</button>
                </div>
              </form>
            </div>
            <!-- /CANCEL SUBSCRIPTION -->

          </div>
        </div>
      </div>

<script>
document.addEventListener("DOMContentLoaded", function() {

  // Avatar Upload Dropzone
  Dropzone.options.avatarUpload = {
    maxFilesize: 1,
    uploadMultiple: false,
    acceptedFiles: 'image/jpeg,image/png,image/gif',
    init: function () {
      // Set up any event handlers
      this.on('complete', function (file) {
        location.reload();
      });
    }
  };

  // Init Stripe
  var stripe = Stripe('pk_test_a8h2HENfpffkX4W1FlStNcYv');
  var elements = stripe.elements();

  // Wire up Stripe Forms
  var style = {
    base: {
      // Add your base input styles here. For example:
      fontSize: '16px',
      lineHeight: '24px',
    }
  };
  // Create an instance of the card Element
  var card = elements.create('card', {style: style});
  // Add an instance of the card Element into the `card-element` <div>
  card.mount('#card-element');


card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});


// Create a token or display an error the form is submitted.
var form = document.getElementById('cardUpdateForm');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
});


function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('cardUpdateForm');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}


  var validator = new FormValidator('formEditProfile', [
    {
        name: 'userUsername',
        display: 'Username',
        rules: 'required|min_length[4]',
    },
  ],
  function(errors) {
    if (errors.length > 0) {
      document.getElementById('errorBox').style.display = 'block';
      var errorString = '';
      for (var i = 0; i < 3; i++) {
        var messages = errors[i].messages;
        for (var t = 0; t < messages.length; t++) {
          errorString += messages[t] + '<br />';
        }
      }
      document.getElementById('errorBox').innerHTML = errorString;
    }
  });
});
</script>

<script>

  var stripeJSON = {"created":1326853478,"livemode":false,"id":"evt_00000000000000","type":"customer.subscription.deleted","object":"event","request":null,"pending_webhooks":1,"api_version":"2017-01-27","data":{"object":{"id":"ch_00000000000000","object":"charge","amount":1499,"amount_refunded":0,"application":null,"application_fee":null,"balance_transaction":"txn_00000000000000","captured":true,"created":1487698362,"currency":"usd","customer":"{{user.stripeID}}","description":null,"destination":null,"dispute":null,"failure_code":null,"failure_message":null,"fraud_details":{},"invoice":"in_00000000000000","livemode":false,"metadata":{},"on_behalf_of":null,"order":null,"outcome":{"network_status":"approved_by_network","reason":null,"risk_level":"normal","seller_message":"Payment complete.","type":"authorized"},"paid":true,"receipt_email":null,"receipt_number":null,"refunded":false,"refunds":{"object":"list","data":[],"has_more":false,"total_count":0,"url":"/v1/charges/ch_19phVGK2sFMaOukMrgqIN6C8/refunds"},"review":null,"shipping":null,"source":{"id":"card_00000000000000","object":"card","address_city":null,"address_country":null,"address_line1":null,"address_line1_check":null,"address_line2":null,"address_state":null,"address_zip":"06598","address_zip_check":"pass","brand":"Visa","country":"US","customer":"{{user.stripeID}}","cvc_check":"pass","dynamic_last4":null,"exp_month":8,"exp_year":2018,"funding":"credit","last4":"4242","metadata":{},"name":"{{user.email}}","tokenization_method":null},"source_transfer":null,"statement_descriptor":null,"status":"succeeded","transfer_group":null}}};

  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('testBtn').addEventListener('click', function(e){
      e.preventDefault();
      aja()
        .method('post')
        .url('/api/stripe/events')
        .cache(false)
        .body(stripeJSON)
        .on('200', function(response){
          // Reload the window to show the comment
          location.reload();
        })
         .on('40x', function(response){
            //something is definitely wrong
            // 'x' means any number (404, 400, etc. will match)
            console.log(response);
        })
        .on('500', function(response){
            //oh crap
            console.log(response);
        })
        .go();
    });
  });
  </script>