{{!< default}}

      <!-- CONTENT -->
      <article>

        <!-- TITLE BOX -->
        <section class="title-box">
          <h1>All Posts For Tag {{tag}}</h1>
        </section>
        <!-- /TITLE BOX -->

        <!-- POST TABLE -->
        <table class="table table-posts">
          <tbody>
          {{#each posts}}
            <tr>
              <td class="shot hide-mobile"><a href="/{{toLowerCase this.postType}}s/{{this.slug}}"><img src="https://res.cloudinary.com/closebrace/image/upload/h_50/v{{this.mainImage.version}}/{{this.mainImage.public_id}}.{{this.mainImage.format}}" alt="Main Content Image Thumbnail" /></a></td>
              <td class="info">
                <p>
                  <a href="/{{toLowerCase this.postType}}s/{{this.slug}}">{{this.title}}</a> | <span class="date">{{this.updatedAtFormatted}}</span><br />
                  <em>{{this.subHead}}</em>
                </p>
              </td>
              <td class="hide-above-mobile">
                <a href="/{{toLowerCase this.postType}}s/{{this.slug}}" class="btn btn-primary">Read</a>
              </td>
            </tr>
          {{/each}}

          </tbody>
        </table>
        <!-- /POST TABLE -->
      </article>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside>
        {{> sidebar_newsletter }}
        {{> sidebar_ad_vertical }}
        {{> sidebar_twitter }}
      </aside>
      <!-- /SIDEBAR -->